/*MAIN*/


/*EVENT CREATE VIEW*/
@media screen and (min-width: 991) {
    #events-container .card{
        max-width: 33%;
    }
    
    #event-create-container{
        height: 80vh;
    }   
}

/*EDIT IMG PREVIEW*/
.img-preview{
    max-width: 50%;
}
